<h1>This will be the frontpage index</h1>
<p>Find me in app/views/frontpage/index.html.erb</p>

<%= link_to("See all types of activities", activities_path, :class => 'action show') %>
<%= link_to("See all types of activities", daily_logs_path, :class => 'action show') %>

