<h1>Welcome to the positive Habits App</h1>
<p>Below you may access all types of activities or the history of logs</p>

<%= link_to("See all types of activities", activities_path, :class => 'action show') %>
<br/>
<%= link_to("See logs history", daily_logs_path, :class => 'action show') %>

