<%= link_to("<< Back to List", activities_path, :class => 'back-link') %>

<div class="activities delete">
  <h2>Delete Activity</h2>

  <%= form_for(@activity, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this activity?</p>

    <p class="reference-name"><%= @activity.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete activity") %>
    </div>

  <% end %>
</div>